#
# Ignore all
#

*

#
# Except path to module files.
#
# note: Each level up the inclusion must be specified as an individual entry.
#

!public/
!public/app/
!public/app/code/
!public/app/code/community/
!public/app/code/community/Laposta/
!public/app/code/community/Laposta/*
!public/app/code/community/Laposta/*/*
!public/app/code/community/Laposta/*/*/*
!public/app/code/community/Laposta/*/*/*/*
!public/app/code/community/Laposta/*/*/*/*/*
!public/app/code/community/Laposta/*/*/*/*/*/*
!public/app/code/community/Laposta/*/*/*/*/*/*/*
!public/app/code/community/Laposta/*/*/*/*/*/*/*/*
!public/app/code/community/Laposta/*/*/*/*/*/*/*/*/*
!public/app/locale/en_US/Laposta_Connect.csv
!public/app/etc/modules/Laposta_Connect.xml

!public/app/design/frontend/base/default/layout/lapostaconnect.xml

!public/lib/
!public/lib/Laposta/
!public/lib/Laposta/*
!public/lib/Laposta/*/*
