# Ignore all magento files
*
# Except for connect-magento project files
!public/app/code/community/Laposta/*
!public/app/locale/en_US/Laposta_Connect.csv
!public/app/etc/modules/Laposta_Connect.xml
!public/app/design/frontend/base/default/layout/lapostaconnect.xml
