<?xml version="1.0"?>
<config>
    <modules>
        <Laposta_Connect>
            <version>0.1.0</version>
            <depends>
                <!-- no dependencies -->
            </depends>
        </Laposta_Connect>
    </modules>
    <frontend>
        <routers>
            <lapostaconnect>
                <use>standard</use>
                <args>
                    <module>Laposta_Connect</module>
                    <frontName>lapostaconnect</frontName>
                </args>
            </lapostaconnect>
        </routers>
        <layout>
            <updates>
                <lapostaconnect>
                    <file>lapostaconnect.xml</file>
                </lapostaconnect>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <lapostaconnect>
                <class>Laposta_Connect_Model</class>
                <resourceModel>lapostaconnect_mysql4</resourceModel>
            </lapostaconnect>
            <lapostaconnect_mysql4>
                <class>Laposta_Connect_Model_Mysql4</class>
                <entities>
                    <subscriber>
                        <table>laposta_subscriber</table>
                    </subscriber>
                    <field>
                        <table>laposta_field</table>
                    </field>
                    <config>
                        <table>laposta_config</table>
                    </config>
                </entities>
            </lapostaconnect_mysql4>
        </models>
        <resources>
            <lapostaconnect_setup>
                <setup>
                    <module>Laposta_Connect</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </lapostaconnect_setup>
            <lapostaconnect_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </lapostaconnect_write>
            <lapostaconnect_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </lapostaconnect_read>
        </resources>
        <blocks>
            <lapostaconnect>
                <class>Laposta_Connect_Block</class>
            </lapostaconnect>
        </blocks>
        <helpers>
            <lapostaconnect>
                <class>Laposta_Connect_Helper</class>
            </lapostaconnect>
        </helpers>
        <extraconfig />
    </global>
    <admin>
        <routers>
            <lapostaconnect>
                <use>admin</use>
                <args>
                    <module>Laposta_Connect</module>
                    <frontName>lapostaconnect</frontName>
                </args>
            </lapostaconnect>
        </routers>
    </admin>
</config>
